<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3><%= fa_icon 'wrench' %> Outils</h3>
</div>
<br>

<div class="row">
	<div class="col-sm-4">
		<ul>
			<li>
				<%= fa_icon 'calendar-day' %>
				<%= link_to "Réservation de créneaux horaires", tools_creation_cours_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'tv' %>
				<%= link_to "Planning au format 'téléviseur'", planning_cours_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'tv' %>
				<small><%= fa_icon 'asterisk' %></small>
				<%= link_to "Nouveau Planning TV (version bêta)", "https://tableau-affichage-horaires-iae.herokuapp.com/", target: "_blank" %>
			</li>
			<br>

			<li>
				<%= fa_icon 'tachometer-alt' %>
				<%= link_to "Taux d'occupation jours", tools_taux_occupation_jours_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'tachometer-alt' %>
				<%= link_to "Taux d'occupation salles", tools_taux_occupation_salles_path %>
			</li>
			<br>
			<br>
			<% if current_user.rh? || current_user.admin? %>
				<li>
					<%= fa_icon 'list-alt' %>
					<%= link_to "Etats de services", tools_etats_services_path %>
				</li>
				<br>
				<li>
					<%= fa_icon 'list-alt' %>
					<%= link_to "Liste des surveillances d'examens", tools_liste_surveillants_examens_path %>
				</li>
				<br>
				<li>
					<%= fa_icon 'user-secret' %>
					<%= link_to "Agents", agents_path %>
				</li>
				<br>
				<br>
			<% end %>

			<% if current_user.role_number >= 5 %>
				<li>
					<%= fa_icon 'calendar-check' %>
					<%= link_to 'Invitations', invits_path %>
				</li>
			<% end %>
			<br>
			<li>
				<%= fa_icon 'envelope' %>
				<%= link_to 'MailLogs', mail_logs_path %>
			</li>

		</ul>
	</div>
	
	<div class="col-sm-4">
		<ul>
			<li>
				<%= fa_icon 'download' %>
				<%= link_to "Import de cours", tools_import_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'download' %>
				<%= link_to "Import d'intervenants", tools_import_intervenants_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'download' %>
				<%= link_to "Import d'étudiants", tools_import_etudiants_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'inbox' %>
				<%= link_to "Import log", import_logs_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'upload' %>
				<%= link_to "Export de cours", tools_export_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'upload' %>
				<%= link_to "Export des intervenants", tools_export_intervenants_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'upload' %>
				<%= link_to "Export d'étudiants", tools_export_etudiants_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'upload' %>
				<%= link_to "Export des formations", tools_export_formations_path %>
			</li>
			<br>

			<li>
				<%= fa_icon 'upload' %>
				<%= link_to "Export des vacations", tools_export_vacations_path %>
			</li>
			<br><br>

			<li>
				<%= fa_icon 'key' %>
				<%= link_to "Créer accès intervenant", tools_acces_intervenants_path %>
			</li>
			<br>
		</ul>
	</div>

	<% if current_user.admin? %>
		<div class="col-sm-4">
			<ul>
				<li>
					<%= fa_icon 'users' %>
					<%= link_to "Utilisateurs", users_path %>
				</li>
				<br>

				<li>
					<%= fa_icon 'download' %>
					<%= link_to "Import des utilisateurs", tools_import_utilisateurs_path %>
				</li>
				<br>

				<li>
					<%= fa_icon 'upload' %>
					<%= link_to "Export des utilisateurs", tools_export_utilisateurs_path %>
				</li>
				<br>

				<li>
					<%= fa_icon 'random' %>
					<%= link_to "Intervertir deux intervenants", tools_swap_intervenant_path %>
				</li>
				<br>

				<li>
					<%= fa_icon 'search' %>
					<%= link_to "Audit des modifications", tools_audits_path %>
				</li>
				<br>

				<li>
					<%= fa_icon 'chalkboard' %>
					<%= link_to "Salles", salles_path %>
				</li>
				<br>

				<li>
					<%= fa_icon 'calendar' %>
					<%= link_to "Nouvelle saison", tools_nouvelle_saison_path %>
				</li>
				<br>

				<li>
					<%= fa_icon 'bell' %>
					<%= link_to "Rappel des cours (file d'attente)", envoi_logs_path %>
				</li>
				<br>


				<li>
					<%= fa_icon 'search' %>
					<%= link_to 'Audit des cours récemment planifiés', tools_audit_cours_path %>
				</li>
				<br>

				<li>
					<%= fa_icon 'umbrella-beach' %>
					<%= link_to "Jours de fermeture", fermetures_path %>
				</li>
				<br>

				<li>
					<%= fa_icon 'business-time' %>
					<%= link_to "Horaires d'ouverture", ouvertures_path %>
				</li>
				<br>

				<li>
					<%= fa_icon 'exclamation' %>
					<%= link_to "Alertes", alerts_path %>
				</li>

			</ul>
		</div>
	<% end %>

</div>
