<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3><%= fa_icon 'bell' %> Rappel des cours</h3>
</div>
<br>

<%= form_tag({action: "rappel_des_cours_do", method: :post}, multipart: true) do %>
  <div>
    <h4>
      Ajouter un rappel des cours dans la file d'attente.
      <br>
      <small> Pour tous les intervenants d'une formation ou un seul intervenant, sur une période choisie</small>
    </h4>
    <br>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <%= label_tag "Formation" %>
      <%= select_tag :formation_id, 
            options_from_collection_for_select(@formations, :id, :nom, params[:formation_id]), 
              class:"form-control select2", include_blank: true %>

      <div class="mt-4">
        <%= label_tag "Intervenant" %>
        <%= select_tag :intervenant_id, 
              options_from_collection_for_select(@intervenants, :id, :nom_prenom, params[:intervenant_id]), 
                class:"form-control select2", include_blank: true %>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <div>
          <%= label_tag :du, "Période du" %>
          <%= text_field_tag :du, params[:du], type: 'date', class: 'form-control' %>
        </div>
        <div>
          <%= label_tag :au %>
          <%= text_field_tag :au, params[:au], type: 'date', class: 'form-control' %>
        </div>
      </div>
      <small>Laissez vide pour le rappel des cours du mois suivant</small>
    </div>
  </div>
  
  <div class="d-flex align-items-center mt-4" style="gap: 1rem">
    <%= submit_tag "Ajouter à la file d'attente", class: "btn btn-success" %>
    <%= link_to "Voir la file d'attente", envoi_logs_path %>
  </div>
<% end %>