<h1>Mail Logs</h1>
<p>Historique des mails envoyés via MailGun, avec Statut et État consultables pendant 5 jours.</p>

<% if @result_failed && @result_failed['items'].size.positive? %>
  <p class="text-danger">Il y a actuellement <%= @result_failed['items'].count %> envois en Statut 'KO'</p>
<% end %>

<div class="container-fluid p-3 shadow-sm">
  <%= form_tag request.path, method: :get do %>
    <div class="form-group">
      <div class="row">

        <div class="col-sm-3">
          <%= label_tag :search, "Destinataire" %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], include_blank: true, onchange:'this.form.submit()', class:"form-control form-control-sm" %>
          </div>
        </div>

        <div class="col">
          <%= label_tag :search_subject, "Sujet" %>
          <div class="input-group">
            <%= select_tag :search_subject, options_for_select(MailLog.all.pluck(:subject).uniq.sort, params[:search_subject]), include_blank: true, onchange:'this.form.submit()', class:"form-control form-control-sm" %>
            <span class="input-group-btn">
                <%= submit_tag 'Filtrer', class:"btn btn-sm btn-success" %>
            </span>
          </div> 
        </div>

        <div class="col-sm-3">
          <%= label_tag :ko, "Afficher que les KO ?" %>
          <br>
          <%= check_box_tag :ko, 1, params[:ko], onchange:'this.form.submit()' %>
        </div>
        
      </div>
    </div>
  <% end %>
</div>

<div style="overflow-x: auto;">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th><%= sortable :user_id do %>De<% end %></th>
        <th><%= sortable :to do %>À<% end %></th>
        <th><%= sortable :subject do %>Sujet<% end %></th>
        <th><%= sortable :created_at, default: true do %>Il y a<% end %></th>
        <th>Statut</th>
        <th>État</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @mail_logs.each do |mail_log| %>
        <% status_ko = @result_failed["items"].find{|item| item["message"]["headers"]["message-id"] == mail_log.message_id } %>

        <% if params[:ko].blank? || (mail_log.created_at > 5.days.ago && status_ko) %>
          <%= render partial: "mail_log", locals: {mail_log: mail_log, status_ko: status_ko} %>
        <% end %>

      <% end %>
    </tbody>
  </table>
</div>

<% if @mail_logs.respond_to?(:total_pages) %>
  <div class="page_info">
    <%= page_entries_info @mail_logs %>
  </div>

  <%= will_paginate @mail_logs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% end %>